{% extends 'admin_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
   <link
      href="{%  static 'assets/libs/jquery-steps/jquery.steps.css' %}"
      rel="stylesheet"
    />
    <link href="{%  static 'assets/libs/jquery-steps/steps.css' %}" rel="stylesheet" />
    <link href="{%  static 'assets/dist/css/style.min.css' %}" rel="stylesheet" />
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 15px; /* 5px rounded corners */
  height:100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 70px;
}
table, th, td {
border: 0px solid white;
border-collapse: collapse;
}
th, td {
padding: 10px;
text-align: left;
}
</style>
{% endblock custom_css %}
{% block page_title %}More Job Info{% endblock page_title %}
{% block main_content %}
     <div class="row">
            <div class="col-md-12">
              <div class="card">
                  <div>
                    <table style="width:100%">
                    <tr>
                    <th>Job ID:</th>
                    <td>{{jobs.pvt_number}}</td>
                    </tr>
                    <tr>
                    <th>Field:</th>
                    <td>{{jobs.field_id}}</td>
                    </tr>
                    <tr>
                    <th>Level:</th>
                    <td>{{jobs.jobstatus}}</td>
                    </tr>
                    <tr>
                    <th>Client Representative:</th>
                    <td>{{jobs.clientrep}}</td>
                    </tr>
                    <tr>
                    <th>Client Representative Email:</th>
                    <td>{{jobs.clientrep_email}}</td>
                    </tr>
                    <tr>
                    <th>Laser Representative:</th>
                    <td>{{jobs.laserrep_id}}</td>
                    </tr>
                    <tr>
                    <th>Status:</th>
                    <td>{{jobs.completed}}</td>
                    </tr>
                    <tr>
                    <th>Created at:</th>
                    <td>{{jobs.created_at}}</td>
                    </tr>
                    <tr>
                    <th>Updated at:</th>
                    <td>{{jobs.updated_at}}</td>
                    </tr>
                    </table>
                       <a href="{{ jobs.pdf.url }}" class="btn btn-primary btn-sm" target="_blank" download>Download Report</a>

                  </div>
              </div>
            </div>
     </div>
{% endblock main_content %}
