{% extends 'client_templates/base_template.html' %}
{% load static %}
{% block custom_css %}
   <link
      href="{%  static 'assets/libs/jquery-steps/jquery.steps.css' %}"
      rel="stylesheet"
    />
    <link href="{%  static 'assets/libs/jquery-steps/steps.css' %}" rel="stylesheet" />
    <link href="{%  static 'assets/dist/css/style.min.css' %}" rel="stylesheet" />
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border-radius: 15px; /* 5px rounded corners */
  height:100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 70px;
}
table, th, td {
border: 0px solid white;
border-collapse: collapse;
}
th, td {
padding: 10px;
text-align: left;
}
</style>
{% endblock custom_css %}
{% block page_title %}Pay NGN{{paymentset.amount_value}} FOR {{job.pvt_number}}{% endblock page_title %}
{% block main_content %}
     <div class="row">
            <div class="col-md-12">
              <div class="card">
                  <div>
                   <div>
                     <h5>Purchase of the the following Report with Job ID {{job.pvt_number}} is valid as the has ellasped the free download period which is 6 months away from post date.
                         Clients must note that all Payments are final for the reports to be downloaded and, Laser Engineering Resources and Consultants Limited does not offer any money-back guarantees. You recognize and agree that you shall not be entitled to a refund for any purchase under any circumstances, if you experince any challenges while using the application kindly report to <a href="mailto:labinfo@laser-ng.com">labinfo@laser-ng.com</a></h5>
                  </div>
                  </div>
                <div>
                    <div class="col-sm-12">
                        <input type="hidden" id="job_id" value="{{jobs.id}}"  class="required form-control" name="job_id"/>
                        <input type="hidden" id="slug" value="{{jobs.slug}}"  class="required form-control" name="slug"/>
                    </div>
                    <script src="https://js.paystack.co/v1/inline.js"></script>
               </div>
              <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block" onclick="paywithpaystack()" id="makepay">Make Payment</button>
              </div>
            </div>
            </div>
     </div>


    <script>
        function paywithpaystack(){
             let job_id = {{ job.id }}
             console.log(job_id);
             let currency = "NGN";
             let plan = "";
             let ref =  "{{ paymentset.ref }}"
             let obj = {
                     key: "{{ paystack_public_key }}",
                     email: '{{ paymentset.email }}',
                     //amount: document.getElementById("amount").value * 100,
                     amount: '{{ paymentset.amount_value }}'*100,

                     ref:  ref,
                     callback: function(response){
                      //window.location.href = {% url 'verifypayment' paymentset.ref %};
                      //window.location.href = 'verifypayment?ref=' + "{{ paymentset.ref }}";
                      //alert('success. transaction ref is ' +response.reference);
                      //window.location.href= 'downloadjob/' + "{{ job.slug }}";
                      window.location.href= 'downloadjob/' + '{{ job.slug }}';
                     }
             }
             if (Boolean(currency)){
               obj.currency = currency.toUpperCase()
             }
             if (Boolean()){
               obj.plan = plan;
             }
             var handler = PaystackPop.setup(obj);
             handler.openIframe();
        }
    </script>
{% endblock main_content %}